<!-- Heading Section -->
<div class="container mx-auto p-4 my-8">
    <div class="grid md:grid-cols-2">
        <div>
            <h1 class="text-5xl font-mono font-bold text-green-300">Hello!</h1>
            <p class="font-mono font-semibold text-4xl my-4">I'm Vijayakanth</p>
            <p class="font-semibold font-sans text-2xl opacity-30">Bachelor of Engineering in Computer science</p>
            <p class="opacity-30 text-xl py-2 italic">Working as Senior Software Developer. I have more than 5 years Experience. I develop Websites and Mobile Applications. I'm fascinated to work on Challenging tasks. And I'm passionate to learn new Technologies.</p>
            <div>
                <p class="font-bold">Hobbies:</p>
                <div class="grid grid-flow-col grid-cols-2 grid-rows-2 gap-4 py-2">
                    <div class="">
                        <div class="rounded-full py-3 px-6 text-center bg-green-300">💻 Coding + 🎧 Music</div>
                    </div>
                    <div class="">
                        <div class="rounded-full py-3 px-6 text-center bg-green-300">🎬 Watch Movies</div>
                    </div>
                    <div class="">
                        <div class="rounded-full py-3 px-6 text-center bg-green-300">📚 Reading Books</div>
                    </div>
                </div>
            </div>
            <div class="m-6 flex flex-row">
                <a class="pr-2" href="https://www.linkedin.com/in/vijayakanth-l-810335b8/">
                    <img src="assets/images/linkedin.gif" class="w-9 h-9"></a>
                <a class="pr-2" href="https://github.com/vk2694">
                    <img src="assets/images/github.gif" class="w-9 h-9"></a>
                <a href="https://twitter.com/vijaykanth2694">
                    <img src="assets/images/twitter.gif" class="w-9 h-9"></a>
            </div>
        </div>
        <div class="m-8 flex justify-center">
            <img class="" src="assets/images/31675-programming.gif" alt="vk-profile-pic">
        </div>
    </div>
</div>
<!-- Projects Section-->
<div class="bg-green-50">
    <div class="container mx-auto my-8 p-4">
        <p class="font-mono font-semibold text-4xl my-2">Projects</p>
        <div class="grid grid-cols-2">
            <div class="mx-8">
                <p class="font-bold text-2xl border-b-2 py-4">Real Estate Firm</p>
                <p class="font-sans py-2"><span class="font-bold my-2">Enterprise Resource Planning (ERP)</span> Designed and implemented a custom ERP solution. And replacing Freshdesk and Highrise, cutting software expenses by 30%. Modelled highly dynamic MySQL database 6000+
                    properties, 10000+ Customers and 20+ Agents. We handled all the customer details, service details and process of the service. Have Task management, Forms, Comments, Status, Communications, Charts analytics, Responsive design, Progressive
                    Web APP (pwa). Used Technologies Angular Framework, Django Framework. Developed and maintained fully featured website and decreased loading times by 70% using Laravel frameworks and increased customer conversion by 40%.</p>
                <p class="font-sans py-2"><span class="font-bold">Connectors Lead Generating App</span> developed in Android (Java) and iOS (Swift) for customer end and Admin part incorporate in ERP.</p>
                <p class="font-sans py-2"><span class="font-bold">Business Assocciate App</span> developed in Android (Kotalin) for part-time working partners and Admin part incorporate in ERP.</p>
            </div>
            <div class="mx-auto">
                <img src="assets/images/erp.png" alt="ERP_img">
            </div>
        </div>
        <div class="grid grid-cols-2 my-10 py-8">
            <div class="mx-8 flex justify-center">
                <img src="assets/images/tech1.png" alt="realt_img">
            </div>
            <div class="mx-auto">
                <p class="font-bold text-2xl border-b-2 py-4">Real-T (SaaS)</p>
                <p class="font-sans py-2">Designed and implemented a custom ERP solution. And replacing Freshdesk and Highrise, cutting software expenses by 30%. Modelled highly dynamic MySQL database 6000+ properties, 10000+ Customers and 20+ Agents. We handled all the customer
                    details, service details and process of the service. Have Task management, Forms, Comments, Status, Communications, Charts analytics, Responsive design, Progressive Web APP (pwa). Used Technologies Angular Framework, Django Framework.
                    Developed and maintained fully featured website and decreased loading times by 70% using Laravel frameworks and increased customer conversion by 40%.</p>
            </div>
        </div>
        <div class="grid grid-cols-2  my-10 py-8">
            <div class="mx-8">
                <p class="font-bold text-2xl border-b-2 py-4">Free Time Projects</p>
                <p class="font-sans py-2">Designed and implemented a custom ERP solution. And replacing Freshdesk and Highrise, cutting software expenses by 30%. Modelled highly dynamic MySQL database 6000+ properties, 10000+ Customers and 20+ Agents. We handled all the customer
                    details, service details and process of the service. Have Task management, Forms, Comments, Status, Communications, Charts analytics, Responsive design, Progressive Web APP (pwa). Used Technologies Angular Framework, Django Framework.
                    Developed and maintained fully featured website and decreased loading times by 70% using Laravel frameworks and increased customer conversion by 40%.</p>
            </div>
            <div class="mx-auto">
                <img src="assets/images/tech2.png" alt="freetime_img">
            </div>
        </div>
    </div>
</div>
<!-- Skill section -->
<div class="">
    <div class="container mx-auto p-4 my-8">
        <p class="font-mono font-semibold text-4xl my-4">Skills</p>
        <div class="grid md:grid-cols-3">
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Front-end</p>
                    <p class="font-sans my-2">HTML5</p>
                    <p class="font-sans my-2">CSS3 & SCSS</p>
                    <p class="font-sans my-2">TailWind CSS & UIkit</p>
                    <p class="font-sans my-2">Javascript & Typescript</p>
                    <p class="font-sans my-2">Angular</p>
                </div>
            </div>
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Back-end</p>
                    <p class="font-sans my-2">Java</p>
                    <p class="font-sans my-2">Python</p>
                    <p class="font-sans my-2">PHP</p>
                    <p class="font-sans my-2">Django</p>
                    <p class="font-sans my-2">Laravel</p>
                </div>
            </div>
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Cross Platform</p>
                    <p class="font-sans my-2">Ionic</p>
                    <p class="font-sans my-2">Flutter</p>
                    <p class="font-sans my-2">Cordova</p>
                </div>
            </div>
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Deployment</p>
                    <p class="font-sans my-2">Microsoft Azure</p>
                    <p class="font-sans my-2">Firebase</p>
                    <p class="font-sans my-2">Google Maps</p>
                    <p class="font-sans my-2">Google Analytics</p>
                </div>
            </div>
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Database Design</p>
                    <p class="font-sans my-2">ER Modeling from Business Requirements</p>
                    <p class="font-sans my-2">MySQL</p>
                    <p class="font-sans my-2">Database Design</p>
                </div>
            </div>
            <div class="bg-green-300 h-5/6 m-10 shadow-xl rounded-3xl transform rotate-3">
                <div class="bg-white h-full text-center shadow-lg rounded-3xl transform -rotate-3">
                    <p class="font-semibold font-sans text-2xl opacity-30 py-2">Tools</p>
                    <p class="font-sans my-2">Visual Studio Code</p>
                    <p class="font-sans my-2">Postman</p>
                    <p class="font-sans my-2">MySQL Workbench</p>
                    <p class="font-sans my-2">Xampp</p>
                    <p class="font-sans my-2">Xcode & Android Studio</p>
                </div>
            </div>
        </div>
    </div>
</div>